@model GPLCC_2.Models.Pret

@{
    ViewData["Title"] = "Delete";
}

<h1>Supprimer</h1>
<h4>Pret</h4>
<hr />

<h3>Êtes-vous sur de supprimer ce prêt?</h3>
<hr />
<div>
    
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateDebut)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateDebut)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateFin)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateFin)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumLivreNavigation.Titre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumLivreNavigation.Titre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumLivreNavigation.Numero)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumLivreNavigation.Numero)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumMembreNavigation.Nom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumMembreNavigation.Nom)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumMembreNavigation.Prenom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumMembreNavigation.Prenom)
        </dd>
    </dl><br />
    <hr />
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Numero" />
        <input type="submit" value="Supprimer" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-secondary">Retour à la liste</a>
    </form>
</div>
